
translate-text {
  background-color: #e2f0d9;
  white-space: pre-wrap;
  display: block;
}

translate-fail {
  background-color: #f1dada;
  color: #ef0505;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  cursor: pointer;
}